.code-block-page {
    padding: 20px;
}

.code-block-page pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: left;
}
.smiley-face {
    font-size: 5em;
    text-align: center;
    margin-top: 20px;
}